{% extends 'base.html' %} {% block content %}

<div class="uk-margin-medium-left uk-margin-small-top uk-padding-small">
    <ul class="uk-breadcrumb"> 
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="">Ergebnisse</a></li>
    </ul> 
</div>

<div class="uk-container uk-container-center">
    <form  method="get">
        <input name="summary" class="uk-checkbox" type="checkbox"  {% if summary_check %}checked{% endif %}> PLZ zusammenfassen  
        <button  type="submit"  class="uk-button uk-button-text uk-margin-small-left" uk-icon="icon:  check">anwenden</button>
    </form>
    
    <table class="sortable uk-table uk-table-small uk-table-hover uk-table-striped">
        <thead>
          <tr>
            <th>
              <button  class="uk-button uk-button-text" uk-icon="icon:  expand ; ratio: 0.7">
                PLZ
              </button>
            </th>
            <th class="num">
              <button  class="uk-button uk-button-text" uk-icon="icon:  expand ; ratio: 0.7">
                Summe
              </button>
            </th>
          </tr>
          <tbody>
            {% for item in zip_value %}
            <tr>
                <td>
                  {{item.shipping_address_zip}}
                </td>
                <td class="num">
                {{item.total_price_with_shipping}}
                </td>
            </tr> 
            {% endfor %}
        </thead>
    </table>


{% endblock content %}
