{% extends 'base.html' %} {% block content %}

<ul
  id="switchernav"
  class="uk-margin-top uk-margin-left uk-margin-right uk-child-width-expand uk-animation-slide-top uk-subnav uk-subnav-divider"
  uk-switcher
>
  <li><a href="#">Upload</a></li>
</ul>

<li class="uk-margin uk-card uk-card-default uk-card-body">
  <div class="uk-container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div
        class="uk-form-file uk-form-large uk-position-top uk-overlay uk-overlay-default uk-text-center"
      >
        <input
          type="file"
          class="uk-button uk-button-default uk-form-width-large"
          name="uploadfile"
          accept=".csv"
        />
        <button
          class="uk-button uk-button-default"
          uk-icon="icon:  cloud-upload"
        ></button>
      </div>
    </form>
  </div>

  <hr class="uk-divider-icon uk-margin-large-top uk-margin-large-bottom" />

  <div class="uk-container">
    <div
      class="uk-card uk-card-default uk-card-body uk-animation-slide-left-small"
    >
      <h2 class="uk-card-title uk-text-light uk-heading-divider">
        <span>Uploads </span><br />
      </h2>

      <hr class="uk-divider uk-width-expand@s" />
      <ul>
        {% for upload in uploaded_files %}
        <li
          class="uk-text-light"
          name="confirmed_time"
          style="font-size: 1.2rem"
        >
          {{upload}}
        </li>

        {% endfor %}
      </ul>

      <a class="uk-button uk-button-default" href="{% url 'show_result'%}">
        Show Tabelle
      </a>
    </div>
  </div>
</li>

{% endblock content %}
